# [Alya MF] Week 1 - Assignment 1

## Load data to the dockerized PostgreSQL in local

In [13]:
import pandas as pd
import psycopg2

CONNECT_DB = "host=localhost port=5432 dbname=banksim_db user=banksim password=banksim"

#### Create customers and transactions table

In [14]:
create_table_customers = '''
    DROP TABLE IF EXISTS "customers";
    CREATE TABLE customers (
        step INT,
        customer VARCHAR(255),
        age VARCHAR(5),
        gender VARCHAR(3),
        zipcodeOri VARCHAR(7),
        merchant VARCHAR(255),
        zipMerchant VARCHAR(10),
        category VARCHAR(255),
        amount NUMERIC,
        fraud BOOLEAN
    );
'''

In [15]:
try:
    # Create connection to banksim_db
    cxn = psycopg2.connect(CONNECT_DB)

    # Create a cursor to db
    cur = cxn.cursor()

    # Send SQL query to request
    cur.execute(create_table_customers)
    records = cxn.commit()

except (Exception, psycopg2.Error) as error :
    print("Error while connecting to PostgreSQL", error)

finally:
    # Closing database connection
    if(cxn):
        cur.close()
        cxn.close()
        print("PostgreSQL connection is closed")

print(f'Records:\n {records}')

PostgreSQL connection is closed
Records:
 None

In [16]:
create_table_transactions = '''
    DROP TABLE IF EXISTS "transactions";
    CREATE TABLE transactions (
        source VARCHAR(255),
        target VARCHAR(255),
        weight NUMERIC,
        typeTrans VARCHAR(255),
        fraud BOOLEAN
    );
'''

In [17]:
try:
    # Create connection to banksim_db
    cxn = psycopg2.connect(CONNECT_DB)

    # Create a cursor to db
    cur = cxn.cursor()

    # Send SQL query to request
    cur.execute(create_table_transactions)
    records = cxn.commit()

except (Exception, psycopg2.Error) as error :
    print("Error while connecting to PostgreSQL", error)

finally:
    # Closing database connection
    if(cxn):
        cur.close()
        cxn.close()
        print("PostgreSQL connection is closed")

print(f'Records:\n {records}')

PostgreSQL connection is closed
Records:
 None

#### Add Data to the Table

In [18]:
try:
    # Create connection to banksim_db
    cxn = psycopg2.connect(CONNECT_DB)

    # Create a cursor to db
    cur = cxn.cursor()

    with open('./customers_data.csv', 'r') as c:
        # Skip first row due to header row
        next(c)
        cur.copy_from(c, 'customers', sep=',')
        cxn.commit()

except (Exception, psycopg2.Error) as error:
    print("Error while connecting to PostgreSQL", error)

finally:
    # Closing database connection
    if (cxn):
        cur.close()
        cxn.close()
        print("PostgreSQL connection is closed")
        print("customers table populated")

PostgreSQL connection is closed
customers table populated

In [19]:
try:
    # Create connection to banksim_db
    cxn = psycopg2.connect(CONNECT_DB)

    # Create a cursor to db
    cur = cxn.cursor()

    with open('./transactions_data.csv', 'r') as c:
        # Skip first row due to header row
        next(c)
        cur.copy_from(c, 'transactions', sep=',')
        cxn.commit()

except (Exception, psycopg2.Error) as error:
    print("Error while connecting to PostgreSQL", error)

finally:
    # Closing database connection
    if (cxn):
        cur.close()
        cxn.close()
        print("PostgreSQL connection is closed")
        print("transactions table populated")

PostgreSQL connection is closed
transactions table populated

### Access Database

In [20]:
def db_server_fetch(sql_query):
    try:
        # Create connection to DB
        cxn = psycopg2.connect(CONNECT_DB)

        # Create a cursor to DB
        cur = cxn.cursor()

        # Send SQL query to request
        cur.execute(sql_query)
        records = cur.fetchall()

    except(Exception, psycopg2.Error) as error:
        print("Error while connecting to PostgreSQL", error)
    
    finally:
        # Closing database connection
        if(cxn):
            cur.close()
            cxn.close()
            print("PostgreSQL connection is closed")
        return records

In [22]:
select_query = '''
    SELECT * FROM customers LIMIT 5;
'''

records = db_server_fetch(select_query)
print(records)

PostgreSQL connection is closed
[(0, "'C1093826151'", "'4'", "'M'", "'28007'", "'M348934600'", "'28007'", "'es_transportation'", Decimal('4.55'), False), (0, "'C352968107'", "'2'", "'M'", "'28007'", "'M348934600'", "'28007'", "'es_transportation'", Decimal('39.68'), False), (0, "'C2054744914'", "'4'", "'F'", "'28007'", "'M1823072687'", "'28007'", "'es_transportation'", Decimal('26.89'), False), (0, "'C1760612790'", "'3'", "'M'", "'28007'", "'M348934600'", "'28007'", "'es_transportation'", Decimal('17.25'), False), (0, "'C757503768'", "'5'", "'M'", "'28007'", "'M348934600'", "'28007'", "'es_transportation'", Decimal('35.72'), False)]

#### Access a SQL Database with Pandas

In [23]:
def pandas_db_server_fetch(sql_query):
    try:
        # Create connection to DB
        cxn = psycopg2.connect(CONNECT_DB)

        # Send SQL query to request and create dataframe
        df = pd.read_sql(sql_query, cxn)

    except(Exception, psycopg2.Error) as error:
        print("Error while connecting to PostgreSQL", error)

    finally:
        # Closing database connection
        if(cxn):
            cxn.close()
            print("PostgreSQL connection is closed")
        return df

In [25]:
select_query = '''
    SELECT * FROM customers;
'''

customers_df = pandas_db_server_fetch(select_query)
customers_df.head()

/var/folders/g4/h69xmlc14xnfwwjc9t_q574w0000gn/T/ipykernel_91218/105032297.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, cxn)

PostgreSQL connection is closed

,step,customer,age,gender,zipcodeori,merchant,zipmerchant,category,amount,fraud
0,0,'C1093826151','4','M','28007','M348934600','28007','es_transportation',4.55,False
1,0,'C352968107','2','M','28007','M348934600','28007','es_transportation',39.68,False
2,0,'C2054744914','4','F','28007','M1823072687','28007','es_transportation',26.89,False
3,0,'C1760612790','3','M','28007','M348934600','28007','es_transportation',17.25,False
4,0,'C757503768','5','M','28007','M348934600','28007','es_transportation',35.72,False

In [26]:
transactions_df = pandas_db_server_fetch('''SELECT * FROM transactions;''')
transactions_df.head()

/var/folders/g4/h69xmlc14xnfwwjc9t_q574w0000gn/T/ipykernel_91218/105032297.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, cxn)

PostgreSQL connection is closed

          source         target  weight            typetrans  fraud
0  'C1093826151'   'M348934600'    4.55  'es_transportation'  False
1   'C352968107'   'M348934600'   39.68  'es_transportation'  False
2  'C2054744914'  'M1823072687'   26.89  'es_transportation'  False
3  'C1760612790'   'M348934600'   17.25  'es_transportation'  False
4   'C757503768'   'M348934600'   35.72  'es_transportation'  False

## Data Transformation

### Transformation for `customers` table

#### Remove quote sign from data

As we can see by querying the database, each data value has single quotes in it so the data type become `object` instead of `integer` for some columns. We need to remove the single quote to ensure the data has the correct type (table schema).

In [31]:
# Remove single quotes
customers_df = pandas_db_server_fetch('''SELECT * FROM customers;''')
customers_df = customers_df.map(lambda x: x.replace("'","") if isinstance(x, str) else x)
customers_df.head()

/var/folders/g4/h69xmlc14xnfwwjc9t_q574w0000gn/T/ipykernel_91218/105032297.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, cxn)

PostgreSQL connection is closed

,step,customer,age,gender,zipcodeori,merchant,zipmerchant,category,amount,fraud
0,0,C1093826151,4,M,28007,M348934600,28007,es_transportation,4.55,False
1,0,C352968107,2,M,28007,M348934600,28007,es_transportation,39.68,False
2,0,C2054744914,4,F,28007,M1823072687,28007,es_transportation,26.89,False
3,0,C1760612790,3,M,28007,M348934600,28007,es_transportation,17.25,False
4,0,C757503768,5,M,28007,M348934600,28007,es_transportation,35.72,False

#### Check for missing value and decide the primary key

In [54]:
# Count number of row of the customers table
customers_df.shape[0]

594643

In [35]:
# Check missing value
customers_df.isna().sum()

step           0
customer       0
age            0
gender         0
zipcodeori     0
merchant       0
zipmerchant    0
category       0
amount         0
fraud          0
dtype: int64

In [111]:
# Check for unique value to decide the primary key
distinct_counts = customers_df.nunique()
print("Distinct value counts for each column:")
print(distinct_counts)

Distinct value counts for each column:
step             180
customer        4100
age                7
gender             2
zipcodeori         1
merchant          50
zipmerchant        1
category          15
amount         23735
fraud              2
dtype: int64

As there's no unique column inside the customers data, we need to add a new column that will acts as the primary key.

#### Change the data type

In [112]:
# Check column type
print(customers_df.dtypes)

step              int64
customer         object
age               int64
gender         category
zipcodeori        int64
merchant         object
zipmerchant       int64
category         object
amount          float64
fraud              bool
dtype: object

We need to change the `age` column to integer, `gender` to category, `zipcodeori` to integer, and `zipmerchant` to integer.

In [113]:
# Check for non-integer values in column 'age'
non_integer_values = customers_df[~customers_df['age'].astype(str).str.isdigit()]
print(non_integer_values.value_counts())

Series([], Name: count, dtype: int64)

In [58]:
# Check for invalid gender other than 'F' or 'M'
invalid_gender_values = customers_df[~customers_df['gender'].isin(['F', 'M'])]

if not invalid_gender_values.empty:
    print("Invalid gender values found in the 'gender' column:")
    print(invalid_gender_values.value_counts())
else:
    print("No invalid gender values found in the 'gender' column.")

Invalid gender values found in the 'gender' column:
step  customer     age  gender  zipcodeori  merchant     zipmerchant  category           amount  fraud  customerid
0     C1374607221  U    E       28007       M1823072687  28007        es_transportation  17.47   False  2094          1
124   C914000857   U    E       28007       M1823072687  28007        es_transportation  18.71   False  390124        1
127   C1215440829  U    E       28007       M348934600   28007        es_transportation  30.77   False  403337        1
      C1152835627  U    E       28007       M1823072687  28007        es_transportation  51.56   False  401663        1
126   C935791733   3    U       28007       M1823072687  28007        es_transportation  29.98   False  398952        1
                                                                                                                     ..
71    C1374607221  U    E       28007       M348934600   28007        es_transportation  42.64   False  210132        1
      C1215440829  U    E       28007       M348934600   28007        es_transportation  13.50   False  209515        1
70    C935791733   3    U       28007       M840466850   28007        es_tech            176.24  False  205070        1
                                            M1416436880  28007        es_tech            129.61  False  205071        1
179   C914000857   U    E       28007       M85975013    28007        es_food            22.58   False  594613        1
Name: count, Length: 1693, dtype: int64

As we found 1178 invalid age value and 1693 invalid gender value, we need to remove them from the data.

In [63]:
# Remove invalid 'age' values
# Convert 'age' column to numeric, coerce errors to NaN
customers_df['age'] = pd.to_numeric(customers_df['age'].astype(int), errors='coerce')

# Filter out rows with invalid age values
customers_df = customers_df.dropna(subset=['age'])

# Check for non-numeric values in column 'age'
customers_df['age'].isna().sum()

0

In [65]:
# Filter out rows with invalid gender values
customers_df = customers_df[customers_df['gender'].isin(['F', 'M'])]

# Check for invalid gender values
invalid_gender_values = customers_df[~customers_df['gender'].isin(['F', 'M'])]
print(invalid_gender_values.value_counts())

Series([], Name: count, dtype: int64)

In [67]:
# Change gender column type to category
customers_df['gender'] = customers_df['gender'].astype('category')

In [69]:
# Change zip number type to integer
customers_df['zipcodeori'] = customers_df['zipcodeori'].astype(int)
customers_df['zipmerchant'] = customers_df['zipmerchant'].astype(int)

In [114]:
# Check column type
print(customers_df.dtypes)

step              int64
customer         object
age               int64
gender         category
zipcodeori        int64
merchant         object
zipmerchant       int64
category         object
amount          float64
fraud              bool
dtype: object

### Transformation for `transactions` table

#### Remove single quote from the data

In [72]:
# Remove single quotes
transactions_df = pandas_db_server_fetch('''SELECT * FROM transactions;''')
transactions_df = transactions_df.map(lambda x: x.replace("'","") if isinstance(x, str) else x)
transactions_df.head()

/var/folders/g4/h69xmlc14xnfwwjc9t_q574w0000gn/T/ipykernel_91218/105032297.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, cxn)

PostgreSQL connection is closed

        source       target  weight          typetrans  fraud
0  C1093826151   M348934600    4.55  es_transportation  False
1   C352968107   M348934600   39.68  es_transportation  False
2  C2054744914  M1823072687   26.89  es_transportation  False
3  C1760612790   M348934600   17.25  es_transportation  False
4   C757503768   M348934600   35.72  es_transportation  False

#### Check for missing value and decide the primary key

In [73]:
# Count the number of row of the transactions table
transactions_df.shape[0]

594643

In [74]:
# Check missing value
transactions_df.isna().sum()

source       0
target       0
weight       0
typetrans    0
fraud        0
dtype: int64

In [76]:
# Check for unique value to decide the primary key
distinct_counts = transactions_df.nunique()
print("Distinct value counts for each column:")
print(distinct_counts)

Distinct value counts for each column:
source        4112
target          50
weight       23767
typetrans       15
fraud            2
dtype: int64

#### Change the data type

In [80]:
# Check column type
print(transactions_df.dtypes)

source            object
target            object
weight           float64
typetrans         object
fraud               bool
transactionid      int64
dtype: object

In [83]:
# Count the number of each occurences in column 'typetrans'
transactions_df['typetrans'].value_counts()

typetrans
es_transportation        505119
es_food                   26254
es_health                 16133
es_wellnessandbeauty      15086
es_fashion                 6454
es_barsandrestaurants      6373
es_hyper                   6098
es_sportsandtoys           4002
es_tech                    2370
es_home                    1986
es_hotelservices           1744
es_otherservices            912
es_contents                 885
es_travel                   728
es_leisure                  499
Name: count, dtype: int64

In [85]:
# Check for invalid values in column weight
numeric_weight = pd.to_numeric(transactions_df['weight'], errors='coerce')
customers_df[numeric_weight.isna()].value_counts()

/var/folders/g4/h69xmlc14xnfwwjc9t_q574w0000gn/T/ipykernel_91218/1132446275.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  customers_df[numeric_weight.isna()].value_counts()

Series([], Name: count, dtype: int64)

### Update data in SQL database

In [135]:
customers_df.to_csv('updated_customers.csv', index=False)

In [136]:
try:
    # Create connection to banksim_db
    cxn = psycopg2.connect(CONNECT_DB)

    # Create a cursor to db
    cur = cxn.cursor()

    with open('./updated_customers.csv', 'r') as c:
        # Skip first row due to header row
        next(c)
        cur.copy_from(c, 'customers', sep=',')
        cxn.commit()

except (Exception, psycopg2.Error) as error:
    print("Error while connecting to PostgreSQL", error)

finally:
    # Closing database connection
    if (cxn):
        cur.close()
        cxn.close()
        print("PostgreSQL connection is closed")
        print("customers table populated")

PostgreSQL connection is closed
customers table populated

In [137]:
query = '''SELECT * FROM customers;'''
print(pandas_db_server_fetch(query).head())

/var/folders/g4/h69xmlc14xnfwwjc9t_q574w0000gn/T/ipykernel_91218/105032297.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, cxn)

PostgreSQL connection is closed
   step     customer age gender zipcodeori     merchant zipmerchant  \
0     0  C1093826151   4      M      28007   M348934600       28007
1     0   C352968107   2      M      28007   M348934600       28007
2     0  C2054744914   4      F      28007  M1823072687       28007
3     0  C1760612790   3      M      28007   M348934600       28007
4     0   C757503768   5      M      28007   M348934600       28007

            category  amount  fraud
0  es_transportation    4.55  False
1  es_transportation   39.68  False
2  es_transportation   26.89  False
3  es_transportation   17.25  False
4  es_transportation   35.72  False

In [144]:
transactions_df.to_csv('updated_transactions.csv', index=False)

In [141]:
# Delete all data in transactions table
try:
    # Create connection to banksim_db
    cxn = psycopg2.connect(CONNECT_DB)

    # Create a cursor to db
    cur = cxn.cursor()

    # Send SQL query to request
    cur.execute("DELETE FROM transactions")
    records = cxn.commit()

except (Exception, psycopg2.Error) as error :
    print("Error while connecting to PostgreSQL", error)

finally:
    # Closing database connection
    if(cxn):
        cur.close()
        cxn.close()
        print("PostgreSQL connection is closed")

print(f'Records:\n {records}')

PostgreSQL connection is closed
Records:
 None

In [145]:
try:
    # Create connection to banksim_db
    cxn = psycopg2.connect(CONNECT_DB)

    # Create a cursor to db
    cur = cxn.cursor()

    with open('./updated_transactions.csv', 'r') as c:
        # Skip first row due to header row
        next(c)
        cur.copy_from(c, 'transactions', sep=',')
        cxn.commit()

except (Exception, psycopg2.Error) as error:
    print("Error while connecting to PostgreSQL", error)

finally:
    # Closing database connection
    if (cxn):
        cur.close()
        cxn.close()
        print("PostgreSQL connection is closed")
        print("transactions table is populated")

PostgreSQL connection is closed
transactions table is populated

In [146]:
query = '''SELECT * FROM transactions;'''
print(pandas_db_server_fetch(query).head())

/var/folders/g4/h69xmlc14xnfwwjc9t_q574w0000gn/T/ipykernel_91218/105032297.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, cxn)

PostgreSQL connection is closed
        source       target  weight          typetrans  fraud
0  C1093826151   M348934600    4.55  es_transportation  False
1   C352968107   M348934600   39.68  es_transportation  False
2  C2054744914  M1823072687   26.89  es_transportation  False
3  C1760612790   M348934600   17.25  es_transportation  False
4   C757503768   M348934600   35.72  es_transportation  False